<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
  <add name="MainDBEntities" connectionString="metadata=res://*/AppModel.csdl|res://*/AppModel.ssdl|res://*/AppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\Client\documents\visual studio 2017\Projects\FinancesPersonnelles\FinancesPersonnelles\MainDB.mdf';integrated security=True;multipleactiveresultsets=True;connect timeout=30;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>